modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Full Stack"
author = 41250978
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python server.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "cd backend && python server.py"]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]
